@if (!isClosed) {
  <div class="card">
    <div class="card-body p-0">
      <div [class]="headerClass">
        <div class="card-widgets">
          <a href="javascript:void(0);" (click)="reloadContent()"
            ><i class="ri-refresh-line"></i
          ></a>
          <a
            data-bs-toggle="collapse"
            (click)="collapse.toggle()"
            role="button"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="weeklysales-collapse"
          >
            <i [class]="isCollapsed ? 'ri-add-line' : 'ri-subtract-line'"></i>
          </a>
          <!-- <a href="javascript:void(0);" (click)="removeCard()"
            ><i class="ri-close-line"></i
          ></a> -->
        </div>
        <h5 class="mb-0" [class]="cardTitleClass">{{ cardTitle }}</h5>
      </div>

      <div
        id="weeklysales-collapse"
        class="collapse show"
        #collapse="ngbCollapse"
        [(ngbCollapse)]="isCollapsed"
      >
        <ng-content></ng-content>
      </div>
    </div>
    @if (refreshRequsted) {
      <div class="card-disabled">
        <div class="card-portlets-loader"></div>
      </div>
    }
  </div>
}
