<a routerLink="/" class="logo-light {{ className }}">
  @if (size) {
    <span class="logo-lg">
      <img src="assets/images/logo.png" alt="logo" />
    </span>
    <span class="logo-sm">
      <img src="assets/images/logo-sm.png" alt="small logo" />
    </span>
  } @else {
    <img src="assets/images/logo.png" alt="logo" height="22" />
  }
</a>

<a routerLink="/" class="logo-dark {{ className }}">
  @if (size) {
    <span class="logo-lg">
      <img src="assets/images/logo-dark.png" alt="dark logo" />
    </span>
    <span class="logo-sm">
      <img src="assets/images/logo-sm.png" alt="small logo" />
    </span>
  } @else {
    <img src="assets/images/logo-dark.png" alt="dark logo" height="22" />
  }
</a>
