<body class="authentication-bg position-relative">
  <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-8 col-lg-10">
          <div class="card overflow-hidden">
            <div class="row g-0">
              <div class="col-lg-6 d-none d-lg-block p-2">
                <img
                  src="assets/images/auth-img.jpg"
                  alt=""
                  class="img-fluid rounded h-100"
                />
              </div>
              <div class="col-lg-6">
                <ng-content></ng-content>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngTemplateOutlet="bottomLinksTemplate"></ng-container>
    </div>
  </div>

  <footer class="footer footer-alt fw-medium">
    <span class="text-dark">
      {{ year }} © Velonic - Theme by {{ credits.name }}
    </span>
  </footer>
</body>
