<div class="text-center py-5" *ngIf="loading">
  Loading website...
</div>

<div class="alert alert-danger m-4" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<ng-container *ngIf="!loading && site">
  <app-modern-template
    *ngIf="
      site?.template?.templateKey === 'template-modern' ||
      site?.template?.templateKey === 'modern' ||
      site?.template?.templateKey === 'template-classic' ||
      site?.template?.templateKey === 'classic'
    "
    [site]="site"
  ></app-modern-template>

  <div
    class="alert alert-warning m-4"
    *ngIf="
      site?.template?.templateKey !== 'template-modern' &&
      site?.template?.templateKey !== 'modern' &&
      site?.template?.templateKey !== 'template-classic' &&
      site?.template?.templateKey !== 'classic'
    "
  >
    No matching template found.
  </div>
</ng-container>