#hero {
    position   : relative;
    height     : 90vh;
    display    : flex;
    align-items: center;
    color      : #fff;
    overflow   : hidden;

    &::before {
        content   : "";
        position  : absolute;
        inset     : 0;
background: url("/assets/templates/template-modern/images/banners/banner-1.jpg") center center / cover no-repeat;        z-index   : 0;

        transform: scale(1);
        animation: zoomBg 12s ease-in-out infinite alternate;
    }

    .overlay {
        position  : absolute;
        inset     : 0;
        background: rgba(0, 0, 0, 0.6);
    }


    .hero-content {
        position: relative;
        z-index : 2;
    }

    .tagline {
        font-size    : 18px;
        margin-bottom: 20px;
        opacity      : 1;
        line-height  : 26px;
        color        : #6de5f2;
    }

    .sub_tag {
        width        : 50%;
        line-height  : 1.8;
        margin-bottom: 30px;
    }

    h1 {
        font-size    : 68px;
        font-weight  : 600;
        line-height  : 1.2;
        margin-bottom: 30px;
    }


    .cta-group {
        display    : flex;
        align-items: center;
        gap        : 35px;
        opacity    : 0;
        transform  : translateY(40px);
        animation  : fadeUp 1s ease forwards;
    }

    @keyframes zoomBg {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.1);
        }
    }

    @keyframes fadeUp {
        to {
            opacity  : 1;
            transform: translateY(0);
        }
    }

    .tagline {
        animation-delay: 0.3s;
    }

    h1 {
        animation-delay: 0.6s;
    }

    .cta-group {
        animation-delay: 0.8s;
    }

}

@media (max-width: 576px) {
    #hero {
        height: 89vh;


        h1 {
            font-size  : 36px;
            line-height: 1.8;
        }

        .hero {
            height: 80vh;
        }
    }
}

// *\------------------------------ about-us------------------------\*

.about-section {
    padding: 80px 20px;

    .container {
        margin     : auto;
        display    : flex;
        align-items: center;
        gap        : 60px;
        max-width  : 1200px;
    }

    .left {
        flex: 1;

        img {
            width        : 100%;
            height       : auto;
            border-radius: 6px;
        }
    }

    .right {
        flex: 1;
    }

    .features {
        display      : flex;
        margin-bottom: 30px;
        margin-top   : 60px;
    }

    .feature {

        .icon {
            display      : flex;
            font-size    : 46px;
            margin-bottom: 20px;
        }

        h4 {
            font-size    : 20px;
            font-weight  : 700;
            margin-bottom: 18px;
        }

        p {
            font-size  : 16px;
            color      : #616265;
            line-height: 26px;
        }
    }


    .actions {
        display    : flex;
        align-items: center;
        gap        : 25px;
        flex-wrap  : wrap;
    }

    .call {
        display    : flex;
        align-items: center;
        gap        : 12px;

        .call-icon {
            width          : 60px;
            height         : 52px;
            border         : 2px solid var(--color-secondary);
            display        : flex;
            align-items    : center;
            justify-content: center;
            font-size      : 30px;

            i {
                transform: rotate(316deg);

            }
        }

        .call-text {
            font-size: 14px;
            color    : #6b6b6b;

            strong {
                display  : block;
                font-size: 18px;
                color    : #1c1c1c;
            }
        }
    }

    /* ================= RESPONSIVE ================= */

    @media (max-width: 992px) {
        .container {
            flex-direction: column;
            gap           : 40px;
        }

        .left img {
            height: 450px;
        }

        .title {
            font-size: 34px;
        }

        .features {
            flex-direction: column;
            gap           : 20px;
        }
    }

    @media (max-width: 576px) {
        padding: 50px 15px;

        .left img {
            height: 300px;
        }

        .features {
            gap: 15px;
        }

        .actions {
            flex-direction: column;
            align-items   : flex-start;
            gap           : 15px;
        }

        .btn {
            width     : 100%;
            text-align: center;
        }
    }
}

// *\--------------------------- Get a qoute ----------------------------\*

.quote {
    background: #f4f4f4;
    padding   : 80px 0;

    .container {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        align-items          : center;
        margin               : auto;
        gap                  : 60px;
    }

    .left {
        position: relative;

        img {
            width        : 100%;
            height       : auto;
            display      : block;
            border-radius: 4px;
        }

        .call-box {
            position     : absolute;
            bottom       : 0px;
            right        : 0px;
            background   : var(--color-primary);
            color        : #fff;
            display      : flex;
            align-items  : center;
            padding      : 20px 30px;
            gap          : 20px;
            border-radius: 4px;
            box-shadow   : 0 10px 30px rgba(0, 0, 0, 0.2);
            cursor       : pointer;

            .icon {
                width          : 60px;
                height         : 60px;
                background     : var(--color-secondary);
                display        : flex;
                align-items    : center;
                justify-content: center;
                border-radius  : 50%;
                font-size      : 26px;
                transform      : rotate(316deg);
            }

            .info {
                span {
                    font-size: 14px;
                }

                h3 {
                    margin     : 5px 0 0;
                    font-size  : 22px;
                    font-weight: 700;
                }
            }
        }

        .call-box:hover {
            background: var(--color-secondary);

            .icon {
                background: var(--color-white);
                color     : var(--color-secondary);
            }
        }
    }
}

@media (max-width: 992px) {
    .quote .container {
        grid-template-columns: 1fr;
    }

    .quote .left .call-box {
        right : 20px;
        bottom: -30px;
    }

    .quote .right h2 {
        font-size: 34px;
    }
}

@media (max-width: 576px) {
    .quote {
        padding: 60px 15px;
    }

    .quote .right h2 {
        font-size: 28px;
    }

    .quote .left .call-box {
        position       : static;
        margin-top     : 20px;
        justify-content: center;
    }
}

// *\----------------------------- Why choose -----------------------------------\*

.why {
    padding: 80px 20px 60px;

    .container {
        margin               : auto;
        display              : grid;
        grid-template-columns: 1fr 1fr;
        gap                  : 40px;
    }

    .right {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        gap                  : 25px;

        .card {
            background   : #fff;
            padding      : 30px;
            border       : 1px solid #e4e4e4;
            border-radius: 4px;
            transition   : 0.3s;

            .icon {
                margin-bottom: 15px;
                font-size    : 40px;
            }

            h3 {
                font-size    : 22px;
                margin-bottom: 10px;
                font-weight  : 600;
            }

            p {
                font-size  : 15px;
                color      : #616265;
                line-height: 1.8;
            }
        }
    }
}

@media (max-width: 992px) {
    .why .container {
        grid-template-columns: 1fr;
    }

    .why .right {
        grid-template-columns: repeat(2, 1fr);
    }

    .why .left h2 {
        font-size: 32px;
    }
}

@media (max-width: 576px) {
    .why {
        padding: 60px 15px;
    }

    .why .right {
        grid-template-columns: 1fr;
    }

    .why .left h2 {
        font-size: 26px;
    }
}

// *\-------------------------- marquee ------------------------------\*

.marquee-container {
    width   : 100%;
    overflow: hidden;
        padding-bottom: 60px;


    .marquee-track {
        display  : flex;
        width    : max-content;
        animation: scroll-left 65s linear infinite;
    }

    .marquee-content {
        display: flex;
        gap    : 50px;
    }

    .item {
        align-items              : center;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #202020;
        color                    : #fff;
        font-size                : 56px;
        font-weight              : bold;

        span {
            opacity: 0.4;
        }
    }

    .icon {
        color                    : var(--color-secondary);
        margin-right             : 44px;
        font-size                : 40px;
        -webkit-text-stroke-color: #ffffff08;
    }

    /* Animation */
    @keyframes scroll-left {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }
}

// *\------------------------ our Projects --------------------------\*

.project {
    padding   : 60px 20px;
    text-align: center;
    background: var(--color-primary);

    .tag {
        background: #ffffff1a;
    }

    .title,
    .desc {
        color: #fff
    }


    .compare-grid {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        gap                  : 30px;
        margin               : auto;
        padding              : 20px;
    }
}

@media (max-width: 768px) {
    .compare-grid {
        grid-template-columns: 1fr;
    }
}





/* ================= HEADER WRAPPER ================= */
#Header {
    position: relative;
    top     : 0;
    z-index : 1000;
    background: linear-gradient(to bottom,
            var(--color-primary) 100%,
            var(--color-white) 0%);
    height: 110px;
}

.container-fluid {
   padding-left: 0px;
   padding-right: 0px;

}

.top-bar {
    background   : var(--color-primary);
    color        : #fff;
    font-size    : 14px;
    margin-bottom: 0;

    .top-inner {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        padding        : 11px 40px;
    }

    .left span {
        margin-right: 20px;
        font-size   : 16px;
    }

    i {
        margin-right: 6px;
        color       : #66dce9;
    }

    .right {
        display    : flex;
        align-items: center;
        gap        : 20px;

        .social i {
            margin   : 0 14px;
            cursor   : pointer;
            color    : var(--color-white);
            font-size: 16px;

            &:hover {
                color: var(--color-secondary);
            }
        }

        .lang-currency span {
            margin-left: 10px;
            cursor     : pointer;
        }
    }
}

.navbar {
    background: var(--color-white) !important;
    padding   : 10px 40px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);

    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.nav-left {
    display    : flex;
    align-items: center;
}

.nav-center {
    flex           : 1;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.nav-right {
    display    : flex;
    align-items: center;
}

.navbar-nav {
    list-style: none;
    margin    : 0;
    padding   : 0;
}

.nav-item {
    padding       : 0 12px;
    font-weight   : 600;
    color         : var(--color-white);
}

.navbar-dark .nav-link {
    color: #1C3654 !important;
}


.img_height {
    width: 140px;
}


/* ================= UNDERLINE EFFECT ================= */
.nav-link span {
    position      : relative;
    padding-bottom: 6px;
    cursor        : pointer;
    white-space   : nowrap;
}

.nav-link span::before,
.nav-link span::after {
    content   : "";
    position  : absolute;
    bottom    : 0;
    width     : 3px;
    height    : 3px;
    transition: 0.4s;
}

.nav-link span::before {
    right: 0;
}

.nav-link span::after {
    left: 0;
}

.nav-link span:hover::before,
.nav-link span:hover::after {
    width     : 50%;
    height    : 2px;
    background: var(--color-secondary);
}

.nav-link span:hover {
    color: var(--color-primary);
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

    .nav-center {
        flex-direction: column;
        margin-top    : 10px;
    }

    .nav-right {
        justify-content: center;
        margin-top     : 10px;
    }

    .navbar {
        flex-wrap: wrap;
    }
}

// =========================================
.underline-closing:after,
.underline-closing:before {
    position: absolute;
    z-index : -1
}

.underline-closing:after {
    content: "";
    width  : 3px;
    height : 3px;
    bottom : 0;
    left   : 0
}

.underline-closing:focus:after,
.underline-closing:hover:after {
    width : 50%;
    height: 3px
}

.underline-closing:before {
    content: "";
    width  : 3px;
    height : 3px;
    bottom : 0;
    right  : 0
}

.underline-closing:focus:before,
.underline-closing:hover:before {
    width : 50%;
    height: 3px
}

span {
    // font-size: 1.1em;
    position       : relative;
    z-index        : 2;
    text-decoration: none;
    padding        : 0px 0px 8px 0px;
    white-space    : nowrap;
    overflow       : hidden
}

span:after,
span:before {
    transition: all .5s ease 0s
}

span:focus:after,
span:focus:before,
span:hover:after,
span:hover:before {
    outline         : 0;
    background-color: var(--color-secondary);
    transition      : all 1s ease 0s
}





.footer-section {
  padding: 80px 0 40px;
  color  : #fff;
background: var(--color-primary);
}

.container {
  width : 90%;
  margin: auto;
}

.footer-top {
  display        : flex;
  justify-content: space-between;
  gap            : 50px;
}

.footer-left {
  flex: 1.4;
}

.logo {
  width        : 220px;
  margin-bottom: 20px;
}

.footer-left h2 {
  font-size  : 18px;
  color      : #fff;
  line-height: 1.9;
  width: 80%;
}

.footer-right {
  flex           : 2;
  display        : flex;
  justify-content: space-between;
  gap            : 20px;
}

.footer-col h4 {
  font-size    : 20px;
  color        : #fff;
  margin-bottom: 15px;
  font-weight  : 600;
}

.footer-col ul {
  list-style: none;
  padding   : 0;
}

.footer-col li {
  margin-bottom: 10px;
  cursor       : pointer;
  color        : #fff;
  font-weight  : 500;

  &:hover {
    transform: translateX(3px);
    color: var(--color-secondary);
  }
}

.footer-col p {
  margin-bottom: 10px;
  color        : #fff;
  font-weight  : 500;
}

.badge {
    background   : linear-gradient(90deg, #EED991 0%, #A0EFEB 100%);
  color        : #fff;
  font-size    : 12px;
  padding      : 4px 8px;
  border-radius: 6px;
  margin-left  : 6px;
}

.mt {
  margin-top: 20px;
}

.footer-bottom {
  margin-top     : 50px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;

  p{
    font-weight: 500;
  }
}

.social-icons {
  display: flex;
  gap    : 10px;
}

.social-icons span {
  width          : 38px;
  height         : 38px;
  background     : #111;
  color          : #fff;
  display        : flex;
  align-items    : center;
  justify-content: center;
  border-radius  : 8px;
  cursor         : pointer;
  transition     : 0.3s;
}

.social-icons span:hover {
  background: #caa83b;
  color     : #000;
}

@media (max-width: 992px) {
  .footer-top {
    flex-direction: column;
    gap: 30px;
  }

  .footer-right {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
    gap           : 20px;
    text-align    : center;
        margin-top: 26px;
  }
}


@media (max-width: 576px) {
  .footer-section {
    padding: 40px 15px;
  }

  .container{
    width: 100%;
    justify-content: center;
  }

  
.footer-left h2 {
  font-size  : 28px;
}


}

$color-primary  : #20445a;
$color-secondary: #f36827;
$color-white    : #fff;
$color-black    : #000;

:root {
  --color-primary  : #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-white    : #{$color-white};
  --color-black    : #{$color-black};
}



body {
  font-family: 'Oxygen', sans-serif !important;
}

a {
  text-decoration: none !important;
}


.owl-nav {
  position       : absolute !important;
  top            : 50% !important;
  left           : 0;
  width          : 100%;
  transform      : translateY(-50%);
  display        : flex !important;
  justify-content: space-between !important;
  align-items    : center !important;
  padding        : 0 30px;
  z-index        : 999;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  display: none !important;
}


modal-container {
  z-index: 99999999 !important;
}



@media (max-width: 480px) {
  .owl-nav {
    padding: 0px 0px;
  }
}


.swal2-styled.swal2-confirm {
  padding   : 11px 24px !important;
  background: linear-gradient(146deg, var(--color-primary), var(--color-secondary)) !important;
}

.swal2-styled.swal2-confirm:focus {
  box-shadow: none !important;
}

// *\------------------ Button -------------------------\*

.primary-btn {
  background : var(--color-secondary);
  padding    : 14px 36px;
  color      : var(--color-white);
  cursor     : pointer;
  font-size  : 16px;
  transition : 0.3s;
  font-weight: 600;
  border     : none;

  i {
    margin-left: 5px;
    transform  : rotate(310deg);
    font-size  : 22px;
  }
}

.primary-btn:hover {
  transform : translateY(-.6px);
  background: var(--color-primary);
}


.secondary-btn {
  background : var(--color-white);
  padding    : 14px 36px;
  color      : var(--color-black);
  cursor     : pointer;
  font-size  : 16px;
  transition : 0.3s;
  font-weight: 600;
  border     : none;

  i {
    margin-left: 5px;
    transform  : rotate(310deg);
    font-size  : 22px;
  }
}

.secondary-btn:hover {
  transform : translateY(-.6px);
  background: var(--color-black);
  color     : var(--color-white);
}